
<div class="formularioregistro">

    <form [formGroup]="formularioregistro" (ngSubmit)="formularioregistrodatos()">
      <label>
          <h2>REGISTRARSE</h2>
        <input formControlName="nombre"  placeholder="Ingresar Nombre" class="search-box" />
        <input formControlName="password"  placeholder="Ingresar password" class="search-box" />
        <span *ngIf="formularioregistro.get('nombre')?.invalid && formularioregistro.get('nombre')?.touched">
  Debería escribir algo es obligatorio.
          </span>
        <span *ngIf="formularioregistro.get('password')?.invalid && formularioregistro.get('password')?.touched">
         <small *ngIf="formularioregistro.get('password')?.errors?.['required']">
      La contraseña es obligatoria.
    </small>
    <small *ngIf="formularioregistro.get('password')?.errors?.['pattern']">
      La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un símbolo.
    </small>
          
          
        
        </span>
      </label>

      

      <button type="submit">Enviar</button>
    </form>
    {{datosdesesion}}
  </div>
