
/*CSS pensado con estilo mobile first
esto quiere decir que primero se definen los estilos para
mobile y luego con el @media Query
se definen para las pantallas más grandes 
lo que no se define en @media Query se hereda automáticamente 

esto es lo inverso del desktop first
*/

/* El contenedor principal en modo Grid vertical */
.weather-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

/* Cada fila o bloque de datos */
.weather-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #f8f9fa;
  padding: 12px;
  border-radius: 12px;
}

/* El texto descriptivo (Temperatura:, Viento:, etc.) */
.weather-text {
  margin: 0;
  color: #495057;
  font-size: 0.95rem;
}

/* El valor dinámico que viene de Angular (los números/estados) */
.weather-text span {
  font-weight: 600;
  color: #212529;
}

/* El tamaño de los emojis */
.weather-icon {
  font-size: 1.3rem;
  line-height: 1;
}

/* -----------------------------------------
   MEDIA QUERY: Para pantallas más grandes (Tablets/Desktop)
----------------------------------------- */
@media (min-width: 480px) {
  .weather-card {
    max-width: 600px;
  }
  
  /* En pantallas más grandes, se transforma automáticamente en 2 columnas */
  .weather-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
