
<form [formGroup]="formulario" (ngSubmit)="enviar()">
      <label>
          <h2>Buscar contenido</h2>
        <input formControlName="dni" />
        <span *ngIf="formulario.get('dni')?.invalid && formulario.get('dni')?.touched">
          Debería escribir algo es obligatorio.
        </span>
      </label>

      

      <button type="submit">Enviar</button>
    </form>
<h2 [innerHTML]="enlace"></h2>
<img src="public/descarga.jpg" alt="Logo">



  <!--
  

<p> datosporidform </p>
<h2>{{ datosporidform.nombre }} {{ datosporidform.apellido }}</h2>
      <p><strong>DNI:</strong> {{ datosporidform.dni }}</p>
      <p><strong>Edad:</strong> {{ datosporidform.edad }}</p>
      <p><strong>Información:</strong> {{ datosporidform.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ datosporidform.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ datosporidform.educacion || 'No disponible' }}</p>
    






<button type="button"  (click)="buscar()">Buscar</button>


<div *ngIf="post">
  <ul>
  <li *ngFor="let mostrarpost of post">
   <p><strong>ID:</strong> {{ mostrarpost.id }}</p>
      <p><strong>User ID:</strong> {{ mostrarpost.userId }}</p>
    
    <h3>{{ mostrarpost.title }}</h3>
    <p>{{ mostrarpost.body }}</p>
  </li>
</ul>
 </div>
    <div *ngIf="!post">Cargando...</div>

<p>datos del backend </p>
  <ul>
  <li *ngFor="let mostrarpersona of datos">
<h2>{{ mostrarpersona.nombre }} {{ mostrarpersona.apellido }}</h2>
      <p><strong>DNI:</strong> {{ mostrarpersona.dni }}</p>
      <p><strong>Edad:</strong> {{ mostrarpersona.edad }}</p>
      <p><strong>Información:</strong> {{ mostrarpersona.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ mostrarpersona.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ mostrarpersona.educacion || 'No disponible' }}</p>
    
  </li>
</ul>
<p> json crudo </p>
<pre>{{ datos | json }}</pre>


<p> obtenerporid </p>
<h2>{{ datosporid.nombre }} {{ datosporid.apellido }}</h2>
      <p><strong>DNI:</strong> {{ datosporid.dni }}</p>
      <p><strong>Edad:</strong> {{ datosporid.edad }}</p>
      <p><strong>Información:</strong> {{ datosporid.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ datosporid.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ datosporid.educacion || 'No disponible' }}</p>
    

-->


  <!-- Botón para abrir el modal -->
<button (click)="mostrarModal = true">Abrir Modal</button>

<!-- Modal -->
<div class="modal-backdrop" *ngIf="mostrarModal" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    
    <h2>Este es un modal</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <label>
        Nombre:
        <input formControlName="dni" />
        <span *ngIf="formulario.get('dni')?.invalid && formulario.get('dni')?.touched">
          El nombre es obligatorio.
        </span>
      </label>

      

      <button type="submit">Enviar</button>
    </form>  
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>




<router-outlet />
