<!--css online a través de un cdn en este caso
aplicamos al footer para los iconos de redes sociales-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">








<nav class="navbar">
        
  <div class="logo">NoticiasHoy</div>

  <div class="weather-navbar-container">
    <app-weather></app-weather>
  </div>

  <div class="nav-right-actions">
    <app-theme-toggle-component></app-theme-toggle-component>
    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </div>

  <ul class="nav-links" [class.active]="menuActivo" id="navLinks">
    <li><a href="/">Inicio</a></li>
    <li><a routerLink="/politica">Política</a></li>
    <li><a routerLink="/economia">Economía</a></li>
    <li><a routerLink="/deportes">Deportes</a></li>
    <li><a routerLink="/cultura">Cultura</a></li>
    <li><a routerLink="/tecnologia">Tecnología</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>
</nav>

  <!--buscador nuevo optimizado para angular routerLink -->

  <!-- Buscador -->
  <div class="search-container">
    <input
      type="text"
      [formControl]="searchControl"
      class="search-box-for-products"
      placeholder="Buscar productos..."
    />

  </div>




<div *ngIf="resultadosobtenidos">  
      <div *ngIf="cargandobuscarcontenido" class="spinner"></div>
<p *ngIf="cargandobuscarcontenido">Cargando resultados espere puede tardar unos minutos</p>
<h3>Resultados de la búsqueda </h3>
<ul class="results-list">
  <li *ngFor="let product of resultadosDeBusqueda" class="result-item">
      <img [src]="product.imageUrl" alt="{{ product.title }}" />
      <div class="product-info">
        <p>{{ product.category }}</p>
        <h4>{{ product.title }}</h4>
        <p>{{ product.leadText }}</p>
        
        
        <!--no se coloca la barra al inicio de routerLink 
        porque en la base ya se le agrego junto a la ruta-->
    <a routerLink="{{product.angularRoute}}">ruta path {{product.angularRoute}}</a> 
      </div>
  </li>
</ul>
</div>
  

  <!-- buscador antiguo para abrir enlaces desde backend usando el filtro 
  de map -->
 <!-- <div class="buscarcontenido">
    <div #zonaLimite class="zona-limite">
  <form [formGroup]="formulario" (ngSubmit)="buscarcontenido()">
    <label>
      <h2>Buscar contenido</h2>
      <input #inputBuscador formControlName="palabraclave" placeholder="Buscar..." class="search-box" />
-->
<!-- muestra u oculta el desplegable
        de resultado de búsqueda segun lo que sucede 
en el input text y evento de click fuera del input text-->

      
<!--

      <span *ngIf="formulario.get('palabraclave')?.invalid && formulario.get('palabraclave')?.touched">
        Debería escribir algo es obligatorio.
      </span>
    </label>
    <button type="submit">Enviar</button>
    <div *ngIf="cargandobuscarcontenido" class="spinner"></div>
<p *ngIf="cargandobuscarcontenido">Cargando resultados espere puede tardar unos minutos</p>
  </form>
</div>
  </div>
        <div #contenedorDesplegable *ngIf="mostrarDesplegable" class="desplegable" [innerHTML]="enlace"></div>

  -->
            <div class="formulariologin">

    <form [formGroup]="formulariologin" (ngSubmit)="formulariologindatos()">
      <label>
          <h2>INICIAR SESIÓN</h2>
        <input formControlName="nombre"  placeholder="Ingresar Nombre" class="search-box" />
        <input formControlName="password"  placeholder="Ingresar password" class="search-box" />
        <span *ngIf="formulariologin.get('nombre')?.invalid && formulariologin.get('nombre')?.touched">
          Debería escribir algo es obligatorio.
          </span>
        <span *ngIf="formulariologin.get('password')?.invalid && formulariologin.get('password')?.touched">
       Debería escribir una contraseña
        
        </span>
        <a routerLink="/registrarse">REGISTRARSE</a>
      </label>

      <button type="submit" [style.display]="sesionActivaSinGoogle ? 'none' : 'block'" >Enviar</button>
    </form>
    <p class="datosdesesion" *ngIf="sesionActivaSinGoogle"  [innerHTML]="datosdesesion"></p>

  <!-- Botón de cerrar sesión -->
<button *ngIf="sesionActivaSinGoogle" (click)="cerrarSesion()">Cerrar sesión</button>
  </div>

  <pre>{{ datosDebug }}</pre>



<!-- Botón de iniciar sesión con Google -->
<!--se ocupa style.display de css porque mantiene
  El elemento en el DOM mientras que *ngIf
  lo elimina, por ese motivo no se puede 
  hacer render al botón con *ngIf 
  aquí cuando la sesión es true usa none
  para ocultar el botón y block para mostrarlo
  cuando la sesión es false
  para poder iniciar sesión-->
<div id="googleSignInButton" [style.display]="sesionActiva ? 'none' : 'block'"></div>



  
  <div class="datosdeusuariogoogle" *ngIf="usuario">
  <p>Bienvenido, {{ usuario.name }}</p>
  <p>Correo: {{ usuario.email }}</p>
  <img [src]="usuario.picture" alt="Foto de perfil" />
<!-- Botón de cerrar sesión -->
<button *ngIf="sesionActiva" (click)="cerrarSesionGoogle()">Cerrar sesión</button>
</div>

  <!-- Botón de session de x -->

<button class="login-x"  (click)="iniciarSesionConX()" [style.display]="sesionActivaDex ? 'none' : 'block'" >
 Iniciar sesión con <img src="img/x-logo.svg" alt="X logo" width="20">
</button>

  <!-- loginconx-->
<div *ngIf="usuariodex">
  <h2>Bienvenido, {{ usuariodex.name }}</h2>
  <p>@{{ usuariodex.username }}</p>
  <img [src]="usuariodex.profile_image_url" alt="Foto de perfil" width="100" />
<!-- Botón de cerrar sesión -->
<button class="login-x"  *ngIf="sesionActivaDex" (click)="cerrarSesionDex()">
Cerrar sesión<img src="img/x-logo.svg" alt="X logo" width="20"></button>
</div>

 
  
  <!-- logincondiscord--> 
<!-- Botón de login -->
<!-- Solo si NO hay sesión -->
<button class="discord-button"  *ngIf="!username" (click)="loginWithDiscord()">
 <img src="https://cdn.jsdelivr.net/gh/edent/SuperTinyIcons/images/svg/discord.svg" alt="Discord" class="icon">
  Login con Discord</button>


<div *ngIf="username">
  <h2>¡Bienvenido, {{ username }}!</h2>
  <img [src]="'https://cdn.discordapp.com/avatars/' + id + '/' + avatar + '.png'" alt="Avatar" width="100">
</div>


  <!-- Solo si SÍ hay sesión -->
<button class="discord-button"   *ngIf="username" (click)="logoutdiscord()">
  <img src="https://cdn.jsdelivr.net/gh/edent/SuperTinyIcons/images/svg/discord.svg" alt="Discord" class="icon">
  Cerrar sesión</button>



<div class="nodemailer">

<form [formGroup]="formularioIntereses" (ngSubmit)="enviarPreferencias()">
  <h3>¿Qué noticias querés recibir?</h3>

  <label><input type="checkbox" formControlName="cripto" /> Criptomonedas</label><br>
  <label><input type="checkbox" formControlName="tecnologia" /> Tecnología</label><br>
  <label><input type="checkbox" formControlName="politica" /> Política</label><br>
  <label><input type="checkbox" formControlName="deportes" /> Deportes</label><br>

  <input formControlName="email" placeholder="Tu email" /><br><br>

<span *ngIf="formularioIntereses.get('email')?.invalid && formularioIntereses.get('email')?.touched">
  El email es obligatorio y debe ser válido.
</span>
  
  <button type="submit" [disabled]="cargando">
  {{ cargando ? 'Enviando...' : 'Enviar' }}
</button>

<div *ngIf="cargando" class="spinner"></div>

</form>

<p *ngIf="mensajeConfirmacion" class="confirmacion">
  ✅ {{mensajeConfirmacion}}
</p>

<p *ngIf="emailError" class="error">
  {{emailError}}
</p>

  
    
</div>
    






  



<app-crypto-prices></app-crypto-prices>


<a href="https://wa.me/5491122334455?text=Hola%20quiero%20más%20información" 
   class="whatsapp-float-link" target="_blank">Chateá con nosotros<img src="img/diseno-icono-whatsapp.png" class="whatsapp-float-icon"  alt="WhatsApp" />
   
</a>





<!--
  
  

<p> datosporidform </p>
<h2>{{ datosporidform.nombre }} {{ datosporidform.apellido }}</h2>
      <p><strong>DNI:</strong> {{ datosporidform.dni }}</p>
      <p><strong>Edad:</strong> {{ datosporidform.edad }}</p>
      <p><strong>Información:</strong> {{ datosporidform.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ datosporidform.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ datosporidform.educacion || 'No disponible' }}</p>
    






<button type="button"  (click)="buscar()">Buscar</button>


<div *ngIf="post">
  <ul>
  <li *ngFor="let mostrarpost of post">
   <p><strong>ID:</strong> {{ mostrarpost.id }}</p>
      <p><strong>User ID:</strong> {{ mostrarpost.userId }}</p>
    
    <h3>{{ mostrarpost.title }}</h3>
    <p>{{ mostrarpost.body }}</p>
  </li>
</ul>
 </div>
    <div *ngIf="!post">Cargando...</div>

<p>datos del backend </p>
  <ul>
  <li *ngFor="let mostrarpersona of datos">
<h2>{{ mostrarpersona.nombre }} {{ mostrarpersona.apellido }}</h2>
      <p><strong>DNI:</strong> {{ mostrarpersona.dni }}</p>
      <p><strong>Edad:</strong> {{ mostrarpersona.edad }}</p>
      <p><strong>Información:</strong> {{ mostrarpersona.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ mostrarpersona.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ mostrarpersona.educacion || 'No disponible' }}</p>
    
  </li>
</ul>
<p> json crudo </p>
<pre>{{ datos | json }}</pre>
-->

<!--
<p> obtenerporid </p>
<h2>{{ datosporid.nombre }} {{ datosporid.apellido }}</h2>
      <p><strong>DNI:</strong> {{ datosporid.dni }}</p>
      <p><strong>Edad:</strong> {{ datosporid.edad }}</p>
      <p><strong>Información:</strong> {{ datosporid.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ datosporid.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ datosporid.educacion || 'No disponible' }}</p>
    

-->


  <!-- Botón para abrir el modal -->
<!-- este modal sirve si el formulario va a estar 
en el mismo template que el button que lo dispara
<button (click)="mostrarModal = true">Abrir Modal</button>
-->
<!-- Modal -->
<!--
<div class="modal-backdrop" *ngIf="mostrarModal" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    
    <h2>Este es un modal</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <label>
        Nombre:
        <input formControlName="dni" />
        <span *ngIf="formulario.get('dni')?.invalid && formulario.get('dni')?.touched">
          El nombre es obligatorio.
        </span>
      </label>

      

      <button type="submit">Enviar</button>
    </form>  
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
-->

<img src="img/descarga.jpeg" alt="Logo">

<img src="img/images.jpeg" alt="Logo">




<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Contacto</h3>
      <p>Email: contacto@tusitio.com</p>
      <p>Teléfono: +54 9 376 123-4567</p>
      <p>Dirección: Posadas, Misiones, Argentina</p>
    </div>

    <div class="footer-section">
        <h3>Redes Sociales</h3>
  <a href="https://wa.me/5493761234567" target="_blank">
    <i class="fab fa-whatsapp"></i> WhatsApp
  </a>
  <a href="https://www.facebook.com/tusitio" target="_blank">
    <i class="fab fa-facebook"></i> Facebook
  </a>
  <a href="https://www.instagram.com/tusitio" target="_blank">
    <i class="fab fa-instagram"></i> Instagram
  </a>
      <a href="https://twitter.com/tusitio" target="_blank">
  <i class="fab fa-x-twitter"></i> X
</a>

    </div>

    <div class="footer-section">
      <h3>Enlaces útiles</h3>
      <a href="/sobre-nosotros">Sobre nosotros</a>
      <a href="/servicios">Servicios</a>
      <a href="/terminos">Términos y condiciones</a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 TuSitio. Todos los derechos reservados.</p>
  </div>
</footer>

 
    
    <router-outlet />
         
