








<nav class="navbar">
        
  <div class="logo">NoticiasHoy</div>

  <div class="weather-time">
    <span id="weather">🌤️ 22°C</span>
    <span id="clock">{{ clock }}</span>
  </div>

  <ul class="nav-links" [class.active]="menuActivo" id="navLinks">
    <li><a href="/">Inicio</a></li>
    <li><a routerLink="/politica">Política</a></li>
    <li><a routerLink="/economia">Economía</a></li>
    <li><a routerLink="/deportes">Deportes</a></li>
    <li><a routerLink="/cultura">Cultura</a></li>
    <li><a routerLink="/tecnologia">Tecnología</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>

  <div class="buscarcontenido">

    <form [formGroup]="formulario" (ngSubmit)="buscarcontenido()">
      <label>
          <h2>Buscar contenido</h2>
        <input formControlName="palabraclave"  placeholder="Buscar..." class="search-box" />
        <span *ngIf="formulario.get('palabraclave')?.invalid && formulario.get('palabraclave')?.touched">
          Debería escribir algo es obligatorio.
        </span>
      </label>

      

      <button type="submit">Enviar</button>
    </form>
    
  </div>

            <div class="formulariologin">

    <form [formGroup]="formulariologin" (ngSubmit)="formulariologindatos()">
      <label>
          <h2>INICIAR SESIÓN</h2>
        <input formControlName="nombre"  placeholder="Ingresar Nombre" class="search-box" />
        <input formControlName="password"  placeholder="Ingresar password" class="search-box" />
        <span *ngIf="formulariologin.get('nombre')?.invalid && formulariologin.get('nombre')?.touched">
          Debería escribir algo es obligatorio.
          </span>
        <span *ngIf="formulariologin.get('password')?.invalid && formulariologin.get('password')?.touched">
       Debería escribir una contraseña
        
        </span>
        <a routerLink="/registrarse">REGISTRARSE</a>
      </label>

      

      <button type="submit">Enviar</button>
    </form>
    <p class="datosdesesion" *ngIf="sesionActiva"  [innerHTML]="datosdesesion"></p>
<button *ngIf="sesionActiva"  (click)="cerrarSesion()" class="buttonCerrarSesion" >Cerrar sesión</button>

  
  </div>
  

<!-- Solo se muestra si el usuario NO está logueado -->
<div id="googleSignInButton"  *ngIf="!usuario"    ></div>

<div class="datosdeusuariogoogle" *ngIf="usuario">
  <p>Bienvenido, {{ usuario.name }}</p>
  <p>Correo: {{ usuario.email }}</p>
  <img [src]="usuario.picture" alt="Foto de perfil" />
  <button (click)="cerrarSesionGoogle()">Cerrar sesión</button>
</div>

  


  

<div class="nodemailer">

<form [formGroup]="formularioIntereses" (ngSubmit)="enviarPreferencias()">
  <h3>¿Qué noticias querés recibir?</h3>

  <label><input type="checkbox" formControlName="cripto" /> Criptomonedas</label><br>
  <label><input type="checkbox" formControlName="tecnologia" /> Tecnología</label><br>
  <label><input type="checkbox" formControlName="politica" /> Política</label><br>
  <label><input type="checkbox" formControlName="deportes" /> Deportes</label><br>

  <input formControlName="email" placeholder="Tu email" /><br><br>

<span *ngIf="formularioIntereses.get('email')?.invalid && formularioIntereses.get('email')?.touched">
  El email es obligatorio y debe ser válido.
</span>
  
  <button type="submit" [disabled]="cargando">
  {{ cargando ? 'Enviando...' : 'Enviar' }}
</button>

<div *ngIf="cargando" class="spinner"></div>

</form>

<p *ngIf="mensajeConfirmacion" class="confirmacion">
  ✅ {{mensajeConfirmacion}}
</p>

<p *ngIf="emailError" class="error">
  {{emailError}}
</p>

  
    
</div>
    






  <button class="hamburger" (click)="toggleMenu()">☰</button>
<app-theme-toggle-component></app-theme-toggle-component>
<app-weather></app-weather>


</nav>



<app-crypto-prices></app-crypto-prices>




<h2 [innerHTML]="enlace"></h2>


<!--
  
  

<p> datosporidform </p>
<h2>{{ datosporidform.nombre }} {{ datosporidform.apellido }}</h2>
      <p><strong>DNI:</strong> {{ datosporidform.dni }}</p>
      <p><strong>Edad:</strong> {{ datosporidform.edad }}</p>
      <p><strong>Información:</strong> {{ datosporidform.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ datosporidform.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ datosporidform.educacion || 'No disponible' }}</p>
    






<button type="button"  (click)="buscar()">Buscar</button>


<div *ngIf="post">
  <ul>
  <li *ngFor="let mostrarpost of post">
   <p><strong>ID:</strong> {{ mostrarpost.id }}</p>
      <p><strong>User ID:</strong> {{ mostrarpost.userId }}</p>
    
    <h3>{{ mostrarpost.title }}</h3>
    <p>{{ mostrarpost.body }}</p>
  </li>
</ul>
 </div>
    <div *ngIf="!post">Cargando...</div>

<p>datos del backend </p>
  <ul>
  <li *ngFor="let mostrarpersona of datos">
<h2>{{ mostrarpersona.nombre }} {{ mostrarpersona.apellido }}</h2>
      <p><strong>DNI:</strong> {{ mostrarpersona.dni }}</p>
      <p><strong>Edad:</strong> {{ mostrarpersona.edad }}</p>
      <p><strong>Información:</strong> {{ mostrarpersona.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ mostrarpersona.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ mostrarpersona.educacion || 'No disponible' }}</p>
    
  </li>
</ul>
<p> json crudo </p>
<pre>{{ datos | json }}</pre>
-->

<!--
<p> obtenerporid </p>
<h2>{{ datosporid.nombre }} {{ datosporid.apellido }}</h2>
      <p><strong>DNI:</strong> {{ datosporid.dni }}</p>
      <p><strong>Edad:</strong> {{ datosporid.edad }}</p>
      <p><strong>Información:</strong> {{ datosporid.informacion }}</p>
      
      <p><strong>Experiencia:</strong> {{ datosporid.experiencia || 'No disponible' }}</p>
      <p><strong>Educación:</strong> {{ datosporid.educacion || 'No disponible' }}</p>
    

-->


  <!-- Botón para abrir el modal -->
<!-- este modal sirve si el formulario va a estar 
en el mismo template que el button que lo dispara
<button (click)="mostrarModal = true">Abrir Modal</button>
-->
<!-- Modal -->
<!--
<div class="modal-backdrop" *ngIf="mostrarModal" (click)="cerrarModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    
    <h2>Este es un modal</h2>
    <form [formGroup]="formulario" (ngSubmit)="enviar()">
      <label>
        Nombre:
        <input formControlName="dni" />
        <span *ngIf="formulario.get('dni')?.invalid && formulario.get('dni')?.touched">
          El nombre es obligatorio.
        </span>
      </label>

      

      <button type="submit">Enviar</button>
    </form>  
    <button (click)="cerrarModal()">Cerrar</button>
  </div>
</div>
-->

<img src="img/descarga.jpeg" alt="Logo">

<img src="img/images.jpeg" alt="Logo">


 
    
    <router-outlet />
         
