<div class="crypto-container" *ngIf="cryptoKeys.length > 0">
  <h2>💹 Cotizaciones Cripto en USD</h2>
  <table>
    <thead>
      <tr>
        <th>Criptomoneda</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let key of cryptoKeys">
  <td><img [src]="'img/' + key.toLowerCase() + '.png'" [alt]="key" width="24" height="24">
  </td>
        
        <td>{{ key }}</td>
        <td>${{ prices[key] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Si no hay datos -->
<div *ngIf="cryptoKeys.length === 0">
  <p>⏳ Cargando precios de criptomonedas...</p>
</div>
